:host {
  background: var(--vex-toolbar-background);
  box-sizing: border-box;
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--vex-toolbar-z-index);
  @apply backdrop-blur border-b;
}

.wallet-button {
  display: flex;
  align-items: center;
  padding: 0 12px;
  
  .wallet-amount {
    margin-left: 6px;
    font-weight: 500;
  }
}

::ng-deep .mat-mdc-tooltip {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 16px;
  background-color: white;
  color: #333;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 8px;
}

::ng-deep .mdc-tooltip__surface-animation{
    background-color: white !important;
    color: black !important;
}

.toolbar {
  height: var(--vex-toolbar-height);
}

a {
  text-decoration: none;
}
