.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.text-secondary {
  color: rgba(0, 0, 0, 0.6);
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-column-is_active {
  width: 100px;
  text-align: center;
}