.secondary-toolbar {
  @apply backdrop-blur border-b shadow-b;
  background: var(--vex-secondary-toolbar-background);
  height: var(--vex-secondary-toolbar-height);
  margin-top: calc(var(--vex-secondary-toolbar-height) * -1);

  &.fixed {
    width: var(--vex-toolbar-width);
  }
}

.secondary-toolbar-placeholder {
  height: var(--vex-secondary-toolbar-height);
}

::ng-deep {
  .activity-cart-button {
    width: 32px;
    height: 32px;
    padding: 0;

    mat-icon {
      font-size: 18px;
    }

    .mat-badge-content {
      min-width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
    }
  }

  vex-breadcrumbs {
    @apply hidden;
  }

  @screen sm {
    vex-breadcrumbs {
      @apply block;
    }
  }
}
